#box{
    width: 600px;
    height: 600px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
}

#box:active{
    background-color: blue;
}
#box:hover{
    width: 800px;
    height: 800px;
}
p{
    text-align: center;
}
